
@mixin estetica-bottoni {
  button {
    height: 35px;
    padding: 0 20px;
    border-radius: 7px;
    background: #30488f;
    border: none;
    color: white;
    margin-bottom: 20px;
  }

  span {
    margin: 0 5px;
    color: #bdb5af;
    font-size: 13px;
  }

  a {
    color: #58402c;
    text-decoration: none;
    font-size: 14px;
    display: block;
  }
}

@mixin centratura-pagina {
  max-width: 1150px;
  margin: 0 auto;
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




//-------------------------------------------

header {
  @include centratura-pagina;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // debug
  height: 75px;
  border-bottom: 1px solid grey;

  #navbar {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
} // fine header

//-------------------------------------------

#jumbotron {
  @include centratura-pagina;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  display: flex;

  .left {
    width: 50%;
    height: 100%;

    h1 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    p {
      font-size: 22px;
      margin-bottom: 40px;
    }
    #bottoni {
      @include estetica-bottoni;
    } // fine bottoni



  }// fine left

  .right {
    width: 50%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      max-width: 570px;
    } // fine img
  } // fine .right
} //fine JUMBOTRON
//-------------------------------------------
#box-higher-lower {
  width: 100%;
  background-color: #ffe7d2;
  display: flex;
  flex-direction: column;

  #border {
    height: 1px;
    width: 100%;
    @include centratura-pagina;
    background-color: #bdb5af;

  }

  .megabox {
    margin: 0 auto;
    max-width: 860px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;

    img {
      width: 280px;
      margin: auto;
    }

    h2 {
      padding-top: 80px;
      text-align: center;
      font-size: 26px;
      width: 80%;
      margin: 0 auto;
      color: #58402c;
    }

    .box {
      margin-top: 50px;
      margin-bottom: 70px;
      display: flex;
      justify-content: space-around;

      div {
        width: 25%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img {
          width: 145px;
          height: 110px;
        } // fine img

        p {
          width: 100%;
          margin-top: 20px;
          text-align: center;
          font-size: 18px;
          color: #58402c;
        }
      }// fine div
    } // fine box
  } // fine megabox
} // fine box-higher-lower
//-------------------------------------------

#element-left-and-right {
  width: 100%;
  padding-top: 80px;

  .row {
    width: 100%;
    display: flex;
    line-height: 1.5;
    margin-bottom: 40px;

    .rimpicciolisci {
      width: 50%;
    }

    .flottatiadestra {
      float: right;
    }

    a {
      display: block;
      text-decoration: none;
      margin-top: 20px;
      font-size: 22px;
    }

    h3 {
      font-size: 26px;
      color: #58402c;
    }

    p {
      font-size: 22px;
      color: #58402c;
      margin-top: 15px;
    }

    .figure {
      text-align: center;

      .animal-example {
        max-width: 270px;
        margin-top: 40px;
      }
    } // fine figure

    .left{
      width: 50%;
      padding: 25px;

      .tabs-example {
        max-width: 768px;
      }
    } // fine left

    .right {
      width: 50%;
      padding: 25px;

      .tabs-example {
        max-width: 768px;
      }
    } // fine right
  } // fine row
} // fine element-left-and-right

//-------------------------------------------

#get-started {
  padding-top: 80px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #ffe7d2;

  h2 {
    text-align: center;
    font-size: 40px;
    color: #58402c;
    line-height: 1.5;
  }

  .box {
    max-width: 628px;
    padding: 20px 20px 20px 40px;
    margin: 35px auto;
    border-radius: 7px;
    background-color: white;
    border: 1px solid #bdb5af;
    margin: 0 auto;
    font-size: .875rem;
    line-height: 1.5;

    p {
      font-size: 16px;
      color: #58402c;
    }
  } // fine box

  #bottoni {
    text-align: center;
    @include estetica-bottoni;
    margin-top: 20px;
  }
}// fine get-started

footer {
  @include centratura-pagina;
  margin-top: 50px;
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;

  .left {
    width: 30%;
    max-width: 390px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;

    img {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }

    p{
      font-size: 18px;
      color: #58402c;
      font-weight: 600;
    }

  }

  .right {
    width: 65%;
    display: flex;
    justify-content: space-between;

    .lista {
      width: 18%;

      span {
        font-size: 1.125rem;
        color: #58402c;
        font-weight: bold;
        margin-bottom: 15px;
      }

      ul {
        margin-top: 15px;
      }

      li a{
        line-height: 2.4;
        text-decoration: none;
        color: #58402c;
        font-size: 14px;
      }
    }


  }


}
